<div class="container">
    <h3>&nbsp;&nbsp;Твое инфо:</h3>
    <div class="col-md-4">
        <form>
            <p>
                <input type="name" class="form-control" ng-model="user.name" placeholder="Име">
            </p>
            <p>
                <input type="text" class="form-control" ng-model="user.address" placeholder="Адреса">
            </p>
            <p>
                <input type="tel" class="form-control" ng-model="user.phone" placeholder="Телефон">
            </p>
            <p>
                <textarea name="notes" rows="4" cols="40" placeholder="Забелешки" class="form-control" ng-model="user.notes"></textarea>
            </p>
            <p>
                <div id="map" style="width: 350px; height: 350px;"></div>
                <input style="display: none;" type="text" id="loc-lat" ng-model="user.lat" />
                <input style="display: none;" type="text" id="loc-lng" ng-model="user.lng" />
            </p>
            <input type="submit" name="submit" value="Порачај" class="btn btn-primary btn-block" ng-click="placeOrder()">
            <br>
        </form>
    </div>
    <div class="col-md-7 col-md-offset-1 recipe">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Мени</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Пица</th>
                                <th>Големина</th>
                                <th>Цена</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pizza in cart">
                                <td class="col-md-1">{{$index + 1}}</td>
                                <td class="col-md-5">{{pizza.name}}</td>
                                <td class="col-md-4">{{pizza.size.label}}</td>
                                <td class="col-md-1">{{pizza.size.price | currency:''}}</td>
                                <td class="col-md-1">
                                    <a href ng-click="removeFromCart($index)">X</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3>Вкупно: {{cartTotal | currency:''}} мкд</h3>
                <h4>- {{selectedRestaurantName}}</h4>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="orderSuccessModal">
    <div class="col-md-4 col-md-offset-4">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Нарачката е успешна!</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Идентитет на нарачката: {{order._id}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="redirect('/')">Затвори</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz4hNbhD1NPnWrSpY2_ihQQPl-5SxJEEI&callback=initMap" async defer></script>
<script type="text/javascript">
    var map;
    var marker;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 41.99592123113886,
                lng: 21.431465715169907
            },
            zoom: 15
        });
        marker = new google.maps.Marker({
            position: {
                lat: 41.99592123113886,
                lng: 21.431465715169907
            },
            map: map,
            title: 'My location',
            draggable: true,
            animation: google.maps.Animation.DROP,
            icon: "/img/slice.png"
        });
        google.maps.event.addListener(marker, 'dragend', function(evt) {
            document.getElementById("loc-lat").value = evt.latLng.lat();
            document.getElementById("loc-lng").value = evt.latLng.lng();
        });
    }
</script>
