<div class="container">
    <div class="text-center" style="padding:50px 0">
        <div class="logo">најава</div>
        <!-- Main Form -->
        <div class="login-form-1">
            <form id="login-form" class="text-left" ng-submit="login()">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <label for="lg_username" class="sr-only">Имејл</label>
                            <input type="text" class="form-control" id="lg_username" name="username" placeholder="имејл" ng-model="formData.username">
                        </div>
                        <div class="form-group">
                            <label for="lg_password" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="lg_password" name="password" placeholder="пасворд" ng-model="formData.password">
                        </div>
                        <div class="form-group login-group-checkbox" ng-show="error">
                            <center>
                                <p class="error-message">{{errorMessage}}</p>
                            </center>
                        </div>
                    </div>
                    <button type="submit" class="login-button"><i class="glyphicon glyphicon-ok"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>немаш сметка? <a href="/register">регистрирајте се</a></p>
                </div>
                <div class="etc-login-form">
                    <center><a href="/"><i class="material-icons backspace-icon">keyboard_backspace</i></a></center>
                </div>
            </form>
        </div>
        <!-- end:Main Form -->
    </div>
</div>
