<div class="admin-panel">
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href ng-click="showPizzas()">Мени</a></li>
            <li role="presentation"><a href ng-click="showOrders()">Нарачки</a></li>
        </ul>
        <div class="orders" ng-show="orders">
            <br>
            <br>
            <center class="col-md-6 col-md-offset-3">
                <input type="text" class="search-full" placeholder="Пребарувај ги нарачките" ng-model="search">
            </center>
            <br>
            <br>
            <br>
            <br>
            <div class="row order-panels" ng-animate="'animate'">
                <div class="col-md-6 col-md-offset-3 animate" dir-paginate="order in ordersCollection | itemsPerPage: 5 | filter:search:strict">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{order.orderAddress}}</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{order.buyerName}} - {{order.buyerPhone}}</p>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Пица</th>
                                            <th>Големина</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pizza in order.pizzas">
                                            <td>{{$index + 1}}</td>
                                            <td>{{pizza.name}}</td>
                                            <td>{{pizza.size}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer">
                            {{order.orderNotes}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <center>
                    <dir-pagination-controls></dir-pagination-controls>
                </center>
            </div>
        </div>
        <div class="pizzas" ng-show="pizzas">
            <div class="col-md-12">
                <br>
                <br>
                <div class="col-md-12">
                    <div class="thumbnail">
                        <form ng-submit="submitPizza()">
                            <input class="form-control" type="file" ng-files="uploadPhoto($files)" />
                            <div class="caption text-center">
                                <p>
                                    <input type="text" ng-model="submitPizza.pizzaName" class="form-control" placeholder="Име на пицата">
                                </p>
                                <p>
                                    <input type="text" ng-model="submitPizza.pizzaDescription" class="form-control" placeholder="Опис на пицата">
                                </p>
                                <hr>
                                <p>
                                    Цени: (мала, средна, голема)
                                </p>
                                <p>
                                    <input type="number" name="smallPrice" ng-model="submitPizza.smallPrice" placeholder="Цена за мала" />
                                    <input type="number" name="mediumPrice" ng-model="submitPizza.mediumPrice" placeholder="Цена за средна" />
                                    <input type="number" name="largePrice" ng-model="submitPizza.largePrice" placeholder="Цена за голема" />
                                </p>
                                <p>
                                    <button type="submit" class="btn btn-info" role="button">Додади</button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div ng-repeat="pizza in pizzaCollection.data">
                    <div class="clearfix" ng-if="$index % 3 == 0"></div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img class="img-responsive pizza-img" ng-src="{{pizza.photoUrl}}">
                            <div class="caption">
                                <h3>
                                    {{pizza.name}}
                                </h3>
                                <p class="pizzaDescription">
                                    {{pizza.description}}
                                </p>
                                <hr>
                                <p>
                                    <p>
                                        Мала - <b>{{pizza.sizes[0].price | currency:''}} мкд</b>
                                    </p>
                                    <p>
                                        Средна - <b>{{pizza.sizes[1].price | currency:''}} мкд</b>
                                    </p>
                                    <p>
                                        Голема - <b>{{pizza.sizes[2].price | currency:''}} мкд</b>
                                    </p>
                                </p>
                                <hr>
                                <center>
                                    <p>
                                        <a href class="btn btn-primary" role="button" data-toggle="modal" data-target="#editModal" ng-click="setupUpdatePizza(pizza)">Промени</a>
                                        <a href class="btn btn-danger" role="button" ng-click="removePizza(pizza._id)">Избриши</a>
                                    </p>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="editModal">
    <div class="col-md-4 col-md-offset-4">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="updatePizza()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{{editPizza.pizzaName}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="photo-upload-field">
                            <input class="form-control" type="file" ng-files="uploadNewPhoto($files)" onchange="newPhoto(this)" />
                            <img ng-src="{{editPizza.photoUrl}}" class="img-responsive" id="placeholderPhoto" />
                        </div>
                        <input type="text" class="form-control" ng-model="editPizza.pizzaName" placeholder="Име">
                        <input type="text" class="form-control" ng-model="editPizza.pizzaDescription" placeholder="Опис">
                        <hr>
                        <input type="number" class="form-control" ng-model="editPizza.smallPrice" placeholder="Цена за мала">
                        <input type="number" class="form-control" ng-model="editPizza.mediumPrice" placeholder="Цена за средна">
                        <input type="number" class="form-control" ng-model="editPizza.largePrice" placeholder="Цена за голема">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Затвори</button>
                        <button type="button" class="btn btn-primary" ng-click="updatePizza()">Зачувај ги промените</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function newPhoto(elem) {
        if (elem.files && elem.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#placeholderPhoto').attr('src', e.target.result);
            }
            reader.readAsDataURL(elem.files[0]);
        }
    }
</script>
