<div class="container">
    <div class="text-center" style="padding:50px 0">
        <div class="logo">регистрација</div>
        <!-- Main Form -->
        <div class="login-form-1">
            <form id="login-form" class="text-left" ng-submit="register()">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">

                        </div>
                        <div class="form-group">
                            <label for="lg_username" class="sr-only">Име</label>
                            <input type="text" class="form-control" id="lg_name" name="name" placeholder="име" ng-model="formData.name">
                        </div>
                        <div class="form-group">
                            <label for="lg_username" class="sr-only">Имејл</label>
                            <input type="text" class="form-control" id="lg_username" name="email" placeholder="имејл" ng-model="formData.email">
                        </div>
                        <div class="form-group">
                            <label for="lg_password" class="sr-only">Лозинка</label>
                            <input type="password" class="form-control" id="lg_password" name="password" placeholder="лозинка" ng-model="formData.password">
                        </div>
                        <div class="form-group">
                            <label for="lg_password" class="sr-only">Потврди лозинка</label>
                            <input type="password" class="form-control" id="lg_password" name="confirmPasswordpassword" placeholder="потврди лозинка" ng-model="formData.confirmPassword">
                        </div>
                        <div class="form-group">
                            <br>
                            <div id="map" style="width: 350px; height: 350px;"></div>
                            <input style="display: none;" type="text" id="loc-lat" ng-model="formData.location.lat" name="lat" />
                            <input style="display: none;" type="text" id="loc-lng" ng-model="formData.location.lng" name="lng" />
                            <br>
                        </div>
                        <div class="form-group login-group-checkbox" ng-show="error">
                            <center>
                                <p class="error-message">{{errorMessage}}</p>
                            </center>
                        </div>
                    </div>
                    <button type="submit" class="login-button"><i class="glyphicon glyphicon-ok"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>имаш сметка? <a href="/login">најави се</a></p>
                </div>
                <div class="etc-login-form">
                    <center><a href="/"><i class="material-icons backspace-icon">keyboard_backspace</i></a></center>
                </div>
            </form>
        </div>
        <!-- end:Main Form -->
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz4hNbhD1NPnWrSpY2_ihQQPl-5SxJEEI&callback=initMap" async defer></script>
<script type="text/javascript">
    var map;
    var marker;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 41.99592123113886,
                lng: 21.431465715169907
            },
            zoom: 15
        });
        marker = new google.maps.Marker({
            position: {
                lat: 41.99592123113886,
                lng: 21.431465715169907
            },
            map: map,
            title: 'My location',
            draggable: true,
            animation: google.maps.Animation.DROP,
            icon: "/img/slice.png"
        });
        google.maps.event.addListener(marker, 'dragend', function(evt) {
            document.getElementById("loc-lat").value = evt.latLng.lat();
            document.getElementById("loc-lng").value = evt.latLng.lng();

            var evt = document.createEvent("HTMLEvents");
            evt.initEvent("change", false, true);

            document.getElementById("loc-lat").dispatchEvent(evt);
            document.getElementById("loc-lng").dispatchEvent(evt);
        });
    }
</script>
