<div class="container">
    <center>
        <h3>{{selectedRestaurantName}}</h3>
    </center>
    <center>
        <span class="total">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        <a href class="price" data-toggle="modal" data-target="#cartModal">{{(cartTotal | currency:'') || (0 | currency:'')}} мкд</a>
        </span>
    </center>
    <br>
    <br>
    <br>

    <div class="col-md-12">
        <div ng-repeat="pizza in pizzas">
            <div class="clearfix" ng-if="$index % 4 == 0"></div>
            <div class="col-md-3 col-sd-6 pizzaCard">
                <div class="thumbnail">
                    <img class="img-rounded pizza-img-small" ng-src="{{pizza.photoUrl}}">
                    <div class="caption">
                        <h3>{{pizza.name}}</h3>
                        <p>{{pizza.description}}</p>
                        <hr>
                        <p ng-repeat="size in pizza.sizes">
                            <input type="radio" name="{{pizza._id}}" value="{{size.value}}" id="{{size.label + '-' + pizza.name}}" ng-click="selectPizza(pizza._id, size.label, size.price)" />
                            <label for="{{size.label + '-' + pizza.name}}">{{size.label}} - {{size.price | currency:''}} мкд</label>
                        </p>
                        <center>
                            <p><a ng-disabled="selectedId !== pizza._id" href="#" class="btn btn-primary" role="button" ng-click="addToCart(pizza, $event)">Сакам!</a></p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <center>
            <p>
                <a href="#" class="btn btn-link" role="button" ng-click="finishOrder()" ng-disabled="cart.length <= 0"><i class="material-icons arrow-forward">arrow_forward</i></a>
            </p>
        </center>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="cartModal">
    <div class="col-md-4 col-md-offset-4">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Пици што ги сакаш:</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Име</th>
                                    <th>Големина</th>
                                    <th>Цена</th>
                                    <th>Избриши</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pizza in cart">
                                    <td class="col-md-4">{{pizza.name}}</td>
                                    <td class="col-md-4">{{pizza.size.label}}</td>
                                    <td class="col-md-3">{{pizza.size.price | currency:''}} мкд</td>
                                    <td class="col-md-1"><a href class="btn btn-link" ng-click="removeFromCart($index)">X</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeModal">Затвори</button>
                </div>
            </div>
        </div>
    </div>
</div>
