<div class="container">
    <center>
        <h3>Избери пицерија:</h3>
    </center>
    <input type="text" ng-model="search" placeholder="Пребарувај..." class="search-full">
    <br>
    <br>
    <div class="">
        <ul class="restaurantsList">
            <div ng-animate="'animate'">
                <li ng-repeat="restaurant in restaurants | filter: search" class="restaurantListItem animate" ng-click="selectRestaurant(restaurant._id, restaurant.name)">{{restaurant.name}} <i class="material-icons pull-right">arrow_forward</i></li>
            </div>
        </ul>
    </div>
</div>
