body {
    background: #34495e;
    color: #ecf0f1;
}
.total .glyphicon {
    font-size: 20px;
}
.total .price {
    font-size: 20px;
}
.login-form-1 {
    max-width: 400px;
    border-radius: 5px;
    display: inline-block;
}
.main-login-form {
    position: relative;
}
.login-form-1 .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height: auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
    color: #999999;
}
.login-form-1 .form-control:-moz-placeholder, .login-form-1 .form-control::-moz-placeholder, .login-form-1 .form-control:-ms-input-placeholder {
    color: #999999;
}
.login-form-1 .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
}
.login-form-1 .form-group:last-child {
    border-bottom: 0;
}
.login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}
.login-group-checkbox {
    padding: 5px 0;
}

/*=== 5. Login Button ===*/

.login-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.login-button {
    outline: none;
}
.login-form-1 .login-button:hover {
    color: #555555;
    transform: rotate(720deg);
}
.login-form-1 .login-button.clicked {
    color: #555555;
}
.login-form-1 .login-button.clicked:hover {
    transform: none;
}
.login-form-1 .login-button.clicked.success {
    color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
    color: #e74c3c;
}

/*=== 6. Form Invalid ===*/

label.form-invalid {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    margin-top: -25px;
    padding: 7px 9px;
    background: #777777;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
}
label.form-invalid:after {
    top: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #777777;
    border-width: 6px;
}

/*=== 7. Form - Main Message ===*/

.login-form-main-message {
    background: #ffffff;
    color: #999999;
    border-left: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    height: 0;
    padding: 0 20px 0 17px;
    opacity: 0;
    transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
    height: auto;
    opacity: 1;
    padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
    border-left-color: #2ecc71;
}
.login-form-main-message.error {
    border-left-color: #e74c3c;
}
.logo {
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
}
.etc-login-form {
    padding: 10px 20px;
}
.etc-login-form p {
    margin-bottom: 5px;
}
.error-message {
    color: #E9573F;
    font-weight: bold;
}
.panel-content {
    margin-left: 10%;
    margin-top: 50px;
}
.photo-upload-field {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    z-index: 20;
}
.photo-upload-field img {
    z-index: 0;
    width: 100%;
    height: 100%;
}
.photo-upload-field input:hover {
    opacity: 0.5;
    background-image: url("upload.jpg");
    background-size: contain;
}
.photo-upload-field input {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.pizzaDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-height: 1;
    /* fallback */
    max-height: 1;
    /* fallback */
}
.restaurantsList {
    list-style: none;
    padding: 0;
}
.restaurantListItem {
    cursor: pointer;
    padding: 20px;
}
.restaurantListItem:hover {
    background: #2c3e50;
}
.corner-login {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}
.backspace-icon, .arrow-forward {
    font-size: 40px !important;
}
.animate.ng-enter, .animate.ng-leave {
    -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.animate.ng-leave.animate.ng-leave-active, .animate.ng-enter {
    opacity: 0;
}
.animate.ng-enter.ng-enter-active, .animate.ng-leave {
    opacity: 1;
}
.search-full {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #ecf0f1;
    padding-bottom: 10px;
    font-size: 20px;
    color: #ecf0f1;
    outline: none;
}
::-webkit-input-placeholder {
    color: #bdc3c7;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #bdc3c7;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #bdc3c7;
}
:-ms-input-placeholder {
    color: #bdc3c7;
}
.recipe, .orders {
    color: #2c3e50 !important;
}
.pizza-img {
    max-height: 250px;
    overflow: hidden;
}
.pizza-img-small {
    max-height: 180px;
    overflow: hidden;
}
@media only screen and (max-width: 992px) {
    .pizza-img {
        max-height: 100% !important;
        overflow: visible !important;
    }
    .pizza-img-small {
        max-height: 100% !important;
        overflow: visible !important;
    }
}
@media only screen and (max-width: 1200px) {
    .pizza-img {
        max-height: 142px;
        overflow: hidden;
    }
    .pizza-img-small {
        max-height: 142px;
        overflow: hidden;
    }
}
.logo-nav {
    min-height: 100px;
    height: 100px;
    margin-top: 50px;
}
.logo-nav img {
    max-height: 100px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.admin-panel {
    margin-top: 50px;
}
