<!DOCTYPE html>
<html ng-app="PizzaApp">

<head>
    <base href="/">
    <title>InstaPizza - Сите пицерии на едно место</title>
    <link rel="stylesheet" href="css/site.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/favico.png">
</head>

<body ng-controller="NavController">
    <!-- <nav class="navbar navbar-default" role="navigation" ng-controller="NavController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">PizzaYum</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navbar-nav navbar-right">
                    <a class="btn btn-info navbar-btn" href="/admin" ng-show="loggedIn">{{username}}</a>
                    <a class="btn btn-info navbar-btn" href="/login" ng-show="!loggedIn">Login</a>
                    <a class="btn btn-info navbar-btn" ng-click="logout()" ng-show="loggedIn">Logout</a>
                </div>
            </div>
        </div>
    </nav> -->
    <div class="logo-nav">
        <a href="/">
            <img src="/img/logo.png" class="img-responsive">
            <center>
                <h3>InstaPizza.mk</h3>
            </center>
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div ng-view></div>
    <div class="corner-login">
        <a href="/login" ng-show="!loggedIn"><i class="material-icons">vpn_key</i></a>
        <a href="/admin" ng-show="loggedIn"><i class="material-icons">dashboard</i></a>
        <a href ng-click="logout()" ng-show="loggedIn"><i class="material-icons">power_settings_new</i></a>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/site.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/dirPagination.js"></script>
    <script src="js/ng-app.js"></script>
</body>

</html>
